<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/popup-design.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/searchbox-design.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/awards/awards-home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Games | The Shelf</title>
</head>

<body class="body-background">
    <div class="centered-text">
        <div class="centered-text search-params">
            <input class="search-input" type="text" placeholder="Search..">
            <button class="search-btn do-search" type="submit">
                <i class="fa fa-search"></i>
            </button>
            <button class="search-btn s-tools-btn" type="submit">
                <i class="fa fa-wrench"></i>
            </button>
        </div>
        <div class="centered-text radio-section">
            <div class="radio-div">
                <label>game</label>
                <input class="search-radio" type="radio" name="search-type" checked>
            </div>
            <div class="radio-div">
                <label>system</label>
                <input class="search-radio" type="radio" name="search-type">
            </div>
            <div class="radio-div">
                <label>filters</label>
                <input class="search-radio" type="radio" name="search-type">
            </div>
        </div>
    </div>
    <div class="centered-div awards-table-div">
        <div>
            <table class="awards-table">
                <tr>
                    <th style="width: 10px">Award</th>
                    <th style="width: 300px">Game</th>
                    <th style="width: 300px">Title</th>
                    <th style="width: 50px">System</th>
                    <th style="width: 30px">Actions</th>
                </tr>
                <tr class="playstation-background award-row">
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                        <img src="/assets/images/awards/platinum.png" style="width: 20px; height: 20px">
                    </td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Jak and Daxter</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Finished the game</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">PS4</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                        <select style="padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; font-weight: 600">
                            <option style="font-weight: 600">
                                --select action--
                            </option>
                            <option style="font-weight: 600">
                                Edit
                            </option>
                            <option style="font-weight: 600">
                                Delete
                            </option>
                        </select>
                    </td>
                </tr>
                <tr class="playstation-background award-row">
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                        <img src="/assets/images/awards/gold.png" style="width: 20px; height: 20px">
                    </td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Jak and Daxter</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Finished the game</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">PS3</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                        <select style="padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; font-weight: 600">
                            <option style="font-weight: 600">
                                --select action--
                            </option>
                            <option style="font-weight: 600">
                                Edit
                            </option>
                            <option style="font-weight: 600">
                                Delete
                            </option>
                        </select>
                    </td>
                </tr>
                <tr class="playstation-background award-row">
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                        <img src="/assets/images/awards/silver.png" style="width: 20px; height: 20px">
                    </td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Jak and Daxter</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Finished the game</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">PS4</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                        <select style="padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; font-weight: 600">
                            <option style="font-weight: 600">
                                --select action--
                            </option>
                            <option style="font-weight: 600">
                                Edit
                            </option>
                            <option style="font-weight: 600">
                                Delete
                            </option>
                        </select>
                    </td>
                </tr>
                <tr class="playstation-background award-row">
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                        <img src="/assets/images/awards/bronze.png" style="width: 20px; height: 20px">
                    </td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Jak and Daxter</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Finished the game</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">PS3</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                        <select style="padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; font-weight: 600">
                            <option style="font-weight: 600">
                                --select action--
                            </option>
                            <option style="font-weight: 600">
                                Edit
                            </option>
                            <option style="font-weight: 600">
                                Delete
                            </option>
                        </select>
                    </td>
                </tr>
                <tr class="xbox-background award-row">
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">50G</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Jak and Daxter</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Finished the game</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Xbox 1</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                        <select style="padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; font-weight: 600">
                            <option style="font-weight: 600">
                                --select action--
                            </option>
                            <option style="font-weight: 600">
                                Edit
                            </option>
                            <option style="font-weight: 600">
                                Delete
                            </option>
                        </select>
                    </td>
                </tr>
                <tr class="xbox-background award-row">
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">50G</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Jak and Daxter</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Finished the game</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">Xbox 360</td>
                    <td style="border: 1px solid #dddddd; text-align: left; padding: 8px;">
                        <select style="padding-left: 10px; padding-right: 10px; padding-top: 2px; padding-bottom: 2px; font-weight: 600">
                            <option style="font-weight: 600">
                                --select action--
                            </option>
                            <option style="font-weight: 600">
                                Edit
                            </option>
                            <option style="font-weight: 600">
                                Delete
                            </option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="popup-overlay"></div>
    <div class="popup">
        <div>
            <input style="width: 50%">
        </div>
        <div>
            <input>
        </div>
        <div>
            <input>
        </div>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/js/searchbox.js"></script>
<script src="/assets/js/popup.js"></script>

</html>