<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/user-profile/shelf.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/popup-design.css">
    <title>Profile | The Shelf</title>
</head>

<body class="shelf-wall">
    <div class="centered-text">
        <img src="/assets/images/titles/your-shelf.png">
    </div>
    <div class="centered-div shelf">
        <div class="centered-text rack">
            <div class="rack-item-6">
                <a href="/views/awards/awards-home.html">
                    <img class="rack-img cursor" src="/assets/images/shelf-items/trophy.png">
                </a>
            </div>
            <div class="rack-item-6">
                <img class="rack-img cursor" src="/assets/images/shelf-items/checklist.png">
            </div>
        </div>
        <div class="centered-text rack">
            <div class="rack-item-4">
                <a href="/views/games/games-home.html">
                    <img class="rack-img cursor" src="/assets/images/shelf-items/controller.png">
                </a>
            </div>
            <div class="rack-item-4">
                <img class="rack-img cursor" src="/assets/images/shelf-items/journal.png">
            </div>
            <div class="rack-item-4">
                <img class="rack-img cursor" src="/assets/images/shelf-items/toolbox.png">
            </div>
        </div>
        <div class="centered-text rack">
            <div class="rack-item-4">
                <img class="rack-img cursor" src="/assets/images/shelf-items/teddy.png">
            </div>
        </div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/js/popup.js"></script>

</html>