
/* Shelf space css */
.shelf-wall{
    background: #e5dd87;
}

.shelf{
    background: #300e00; 
    width: 400px; 
    color: white; 
    border-radius: 4px; 
    margin-top: 150px; 
    border-top: 5px solid #561a00;  
    border-right: 6px solid #561a00; 
    box-shadow: 5px 1px 5px 2px black;
}

.rack{
    padding: 10px;
    border-bottom: 5px solid #561a00; 
    box-shadow: inset 0 0 30px #000000;
}

.rack-item-6{
    display: inline-block; 
    width: 45%;
}

.rack-item-4{
    display: inline-block; 
    width: 30%;
}

.rack-img{
    width: 50px; 
    height: 50px;
    transition: width 200ms, height 200ms;
}
.rack-img:hover{
    animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
/*------------------------------------------*/

