
.popup-content{
    display: none;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    display: block;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    transition: 500ms background-color;
}

.popup{
    z-index: 3;
    position: absolute;
    top: 25%;
    left: 17%;
    background-color: #e2e2e2;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    height: 300px;
    display: none;
    transition: 500ms opacity;
    border-radius: 30px
}