/* Main CSS */
.centered-div{
    margin: 0 auto
}

.centered-text{
    text-align: center
}

.cursor:hover{
    cursor: pointer;
}

.body-background {
    background: #d6d6d6;
}

/* Gaming colors/designs */

.playstation-background {
    background: #0057db;
    color: white;
}

.playstation-color {
    color: #0057db;
}

.xbox-background {
    background: #00b73d;
    color: white;
}

.xbox-color {
    color: #00b73d
}

.switch-background {
    background: #dd0202;
    color: white;
}

.switch-color {
    color: #dd0202;
}

.pc-background {
    background: #7a7a7a;
    color: white;
}

.pc-color {
    color: #7a7a7a;
}
  