<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/user-profile/shelf.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/popup-design.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Games | The Shelf</title>
</head>

<body class="shelf-wall">
    <div class="centered-text">
        <img src="/assets/images/titles/games.png">
        <div class="centered-text example">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">
                <i class="fa fa-search"></i>
            </button>
            <button type="submit" style="background:#007a20">
                <i class="fa fa-wrench"></i>
            </button>
        </div>
        <div class="centered-text" style="margin-top: 15px">
            <div style="display: inline-block; padding: 5px">
                <label>system</label>
                <input type="radio" name="search-type" checked>
            </div>
            <div style="display: inline-block; padding: 5px">
                <label>genre</label>
                <input type="radio" name="search-type">
            </div>
            <div style="display: inline-block; padding: 5px">
                <label>category</label>
                <input type="radio" name="search-type">
            </div>
        </div>
    </div>
    <div class="centered-div" style="display:table;border-collapse:separate;border-spacing:30px; margin-top: 30px; background: #300e00; box-shadow: inset 0 0 30px #000000;">
        <div style="display: table-row;">
            <div style="display: table-cell; background: #d6d6d6; border: 5px solid #a8a4a4;">
                <img src="/assets/images/samples/starter-game-1.jpg" style="width: 450px; height: 300px;">
                <div class="centered-text">
                    <p>Jak and Daxter</p>
                    <p>PS4</p>
                    <p>Action/Adventure</p>
                </div>
            </div>
            <div style="display: table-cell; background: #d6d6d6; border: 5px solid #a8a4a4;">
                <img src="/assets/images/samples/starter-game-1.jpg" style="width: 450px; height: 300px;">
                <div class="centered-text">
                    <p>Jak and Daxter</p>
                    <p>PS4</p>
                    <p>Action/Adventure</p>
                </div>
            </div>
        </div>
        <div style="display: table-row;">
            <div style="display: table-cell; background: #d6d6d6; border: 5px solid #a8a4a4;">
                <img src="/assets/images/samples/starter-game-1.jpg" style="width: 450px; height: 300px;">
                <div class="centered-text">
                    <p>Jak and Daxter</p>
                    <p>PS4</p>
                    <p>Action/Adventure</p>
                </div>
            </div>
            <div style="display: table-cell; background: #d6d6d6; border: 5px solid #a8a4a4;">
                <img src="/assets/images/samples/starter-game-1.jpg" style="width: 450px; height: 300px;">
                <div class="centered-text">
                    <p>Jak and Daxter</p>
                    <p>PS4</p>
                    <p>Action/Adventure</p>
                </div>
            </div>
        </div>
    </div>

    <div id="popup-overlay"></div>
    <div class="popup">
        <div>
            <input style="width: 50%">
        </div>
        <div>
            <input>
        </div>
        <div>
            <input>
        </div>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/js/popup.js"></script>

</html>