<!DOCTYPE html>
<html lang="en-US">

<head>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/popup-design.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/searchbox-design.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/games/games-home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Games | The Shelf</title>
</head>

<body class="body-background">
    <div class="centered-text">
        <div class="centered-text search-params">
            <input class="search-input" type="text" placeholder="Search..">
            <button class="search-btn do-search" type="submit">
                <i class="fa fa-search"></i>
            </button>
            <button class="search-btn s-tools-btn" type="submit">
                <i class="fa fa-wrench"></i>
            </button>
        </div>
        <div class="centered-text radio-section">
            <div class="radio-div">
                <label>system</label>
                <input class="search-radio" type="radio" name="search-type" checked>
            </div>
            <div class="radio-div">
                <label>genre</label>
                <input class="search-radio" type="radio" name="search-type">
            </div>
            <div class="radio-div">
                <label>category</label>
                <input class="search-radio" type="radio" name="search-type">
            </div>
        </div>
    </div>
    <div class="centered-div game-table">
        <div class="game-row">
            <div class="game-cell">
                <div>
                    <div class="centered-text cursor game-icon-btn folder-btn">
                        <span>
                            <i class="fa fa-folder"></i>
                        </span>
                    </div>
                    <div class="centered-text cursor game-icon-btn edit-btn">
                        <span>
                            <i class="fa fa-pencil"></i>
                        </span>
                    </div>
                </div>
                <div class="centered-text">
                    <div>
                        <img class="game-img" src="/assets/images/samples/starter-game-1.jpg">
                    </div>
                    <div class="game-title-div">
                        <h3 class="game-title">Jak and Daxter</h3>
                    </div>
                    <div class="playstation-background game-system-div">
                        <p class="game-system">PS4</p>
                    </div>
                    <div class="game-genre-div">
                        <p class="game-genre">Action/Adventure</p>
                    </div>
                </div>
            </div>
            <div class="game-cell">
                <div>
                    <div class="centered-text cursor game-icon-btn folder-btn">
                        <span>
                            <i class="fa fa-folder"></i>
                        </span>
                    </div>
                    <div class="centered-text cursor game-icon-btn edit-btn">
                        <span>
                            <i class="fa fa-pencil"></i>
                        </span>
                    </div>
                </div>
                <div class="centered-text">
                    <div>
                        <img class="game-img" src="/assets/images/samples/starter-game-1.jpg">
                    </div>
                    <div class="game-title-div">
                        <h3 class="game-title">Jak and Daxter</h3>
                    </div>
                    <div class="xbox-background game-system-div">
                        <p class="game-system">Xbox 1</p>
                    </div>
                    <div class="game-genre-div">
                        <p class="game-genre">Action/Adventure</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="game-row">
            <div class="game-cell">
                <div>
                    <div class="centered-text cursor game-icon-btn folder-btn">
                        <span>
                            <i class="fa fa-folder"></i>
                        </span>
                    </div>
                    <div class="centered-text cursor game-icon-btn edit-btn">
                        <span>
                            <i class="fa fa-pencil"></i>
                        </span>
                    </div>
                </div>
                <div class="centered-text">
                    <div>
                        <img class="game-img" src="/assets/images/samples/starter-game-1.jpg">
                    </div>
                    <div class="game-title-div">
                        <h3 class="game-title">Jak and Daxter</h3>
                    </div>
                    <div class="switch-background game-system-div">
                        <p class="game-system">Switch</p>
                    </div>
                    <div class="game-genre-div">
                        <p class="game-genre">Action/Adventure</p>
                    </div>
                </div>
            </div>
            <div class="game-cell">
                <div>
                    <div class="centered-text cursor game-icon-btn folder-btn">
                        <span>
                            <i class="fa fa-folder"></i>
                        </span>
                    </div>
                    <div class="centered-text cursor game-icon-btn edit-btn">
                        <span>
                            <i class="fa fa-pencil"></i>
                        </span>
                    </div>
                </div>
                <div class="centered-text">
                    <div>
                        <img class="game-img" src="/assets/images/samples/starter-game-1.jpg">
                    </div>
                    <div class="game-title-div">
                        <h3 class="game-title">Jak and Daxter</h3>
                    </div>
                    <div class="pc-background game-system-div">
                        <p class="game-system">PC</p>
                    </div>
                    <div class="game-genre-div">
                        <p class="game-genre">Action/Adventure</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="popup-overlay"></div>
    <div class="popup">
        <div>
            <input style="width: 50%">
        </div>
        <div>
            <input>
        </div>
        <div>
            <input>
        </div>
    </div>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/assets/js/searchbox.js"></script>
<script src="/assets/js/popup.js"></script>

</html>